@font-face {
    font-family: renogare;
    src: url(./Renogare-Regular.otf);
}

header{
    background: url(./patern.png); 
    color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    padding: 0;
    font-family: "renogare";
   
    margin: 0;
}
.presentacion {
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
    width: 100vw;
    background: url(./patern.png);
}
.caradedrake {
    background: url(./drake1.png);
    width: 50vw;

}


.textoPresentacion {
    color: white;
    width: 50vw;
    font-size: 250%;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    
}

.album {
    display: flex;
    flex-direction: row;
    background: url(./patern.png);
    height: 100vh;
    width: 100vw;
    
    
}
.album img {
    
    height: 300px;
    padding: 0;
    border-radius: 10px;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    padding: 0;
   
    
}
.textopadre {
    width: 50vw;
}

.textoalbum {
    color: white;
    width: 40vw;
    font-size: 250%;
 text-align: center;
    justify-content: center;
    margin-top: 8%;
    padding-left: 8%;
    padding-top: 10%;
}

@media (max-width: 500px) {
    .presentacion {
        display: flex;
        flex-direction:column;
        height: 190vh;
    }
    .texto {
        height: 90vh;
    }
    .textoPresentacion {
        font-size: 180%;
        width: 80%;
        height: 80%;
        text-align: center;
        padding-top: 10%;
        padding-left: 4%;
       
    }
    .caradedrake {
        height: 90vh;
        background-position: 42% 0%;
        width: 100vw;
        
    }
   .album {
       height: 100vh;
       width: 100vw;
   }
   .album div img {
       width: 160px;
       height: 160px ;
       border-left-style: solid;
       border-left: 0%;
       
   }
   .textopadre {
       display: none;
   }
   .galeria {
       display: flex;
       width: 100vw;
       height: 100vh;
   }

    
    }
    @media (max-width: 488px) {
    .album div img {
        width: 153px;
    }
    }
    @media (max-width: 467px) {
        .album div img {
            width: 146px;
        }
    }
    
     
   

